/* core-styles.css */

/* -----------------------
--------------------------
      general rules
--------------------------
------------------------*/

/* variables */
:root {
  --blue: #409ac7;
  --gray: #484a47;
  --red: #ed6a5a;
  --white: #faf9f9;
}

/* Custom Fonts */

@font-face {
  font-family: "Explora";
  src: url("/fonts/Explora-Regular.ttf") format("tff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Acme";
  src: url("/fonts/Acme-Regular.ttf") format("tff");
  font-weight: normal;
  font-style: normal;
}

/* Root reset */
/* * {
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
}

/* ------ Headers ------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Acme", sans-serif;
  color: var(--gray);
}

/* h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

img {
  max-width: 100%;
  height: auto;
} */
