@page
@model MeetStaffModel
@{
    ViewData["Title"] = "Meet the Staff";
}

<main>
    <div class="img-container">

    </div>
    <div class="about-text">
        <h1>Ashley Zak</h1>
        <p>This is Ashley, your host</p>
    </div>
</main>